.config-tester {
}
.ct-row {
    width: 96%;
    margin: 12px 2%;
    display: inline-block;
}

/*------------------------------------------------------------------------------------------------\
  Configuration
\------------------------------------------------------------------------------------------------*/

    .ct-configuration {
    }

/*------------------------------------------------------------------------------------------------\
  Chart framework
\------------------------------------------------------------------------------------------------*/

    .ct-chart-framework {
    }

/*------------------------------------------------------------------------------------------------\
  Callbacks
\------------------------------------------------------------------------------------------------*/

    .ct-callbacks {
    }
