.config-tester {
}
.ct-row {
    width: 100%;
    margin: 12px 0;
    display: inline-block;
}

/*------------------------------------------------------------------------------------------------\
  Configuration
\------------------------------------------------------------------------------------------------*/

    .ct-configuration {
    }
    .ct-control-div {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 75px;
        vertical-align: top;
    }

    .ct-control-div--buttons {
        width: 10%;
    }
        .ct-control-div--buttons > * {
            width: 10%;
        }

    .ct-control-div--dropdowns {
        width: 90%;
    }
        .ct-control-div--dropdowns > * {
            width: 10%;
        }

        .ct-control {
            width: 100%;
            display: inline-block;
        }
            .ct-control__button {
                padding: 5px;
                display: block;
                width: 70%;
                margin: 0 15%;
                height: 55px;
                margin-top: 10px;
            }
            .ct-control__select {
                width: 20%;
                margin: 0 5px;
            }

/*------------------------------------------------------------------------------------------------\
  Chart framework
\------------------------------------------------------------------------------------------------*/

    .ct-chart-framework {
    }

/*------------------------------------------------------------------------------------------------\
  Callbacks
\------------------------------------------------------------------------------------------------*/

    .ct-callbacks {
    }
