@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#title {
    width: 96%;
    margin: 2% 25px;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
    font-size: 250%;
}
#container {
    width: 96%;
    margin: 0 25px;
}
#chart {
    width: 25%;
}
