@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
#title {
    width: 96%;
    margin: 2% 25px;
    border-bottom: 1px solid lightgray;
    font-weight: lighter;
    font-size: 250%;
}
#container {
    width: 96%;
    margin: 0 25px;
}
.column {
    display: inline-block;
}

/*------------------------------------------------------------------------------------------------\
  Variables
\------------------------------------------------------------------------------------------------*/

    :root {
        --component-width: 33%;
    }

/*------------------------------------------------------------------------------------------------\
  Left column
\------------------------------------------------------------------------------------------------*/

    .column--left {
        float: left;
        width: 75%;
    }

    /**-------------------------------------------------------------------------------------------\
      
    \-------------------------------------------------------------------------------------------**/

        .component {
            display: inline-block;
            width: var(--component-width);
        }
        .component h3 {
            text-align: left;
        }
        .component div {
            white-space: pre;
            font-family: courier;
            padding-left: 3%;
        }

        /***--------------------------------------------------------------------------------------\
          General Settings
        \--------------------------------------------------------------------------------------***/

            .component--top {
                width: 100%;
                margin-left: var(--component-width); 
            }
            .component--top h3 {
            }
            .component--top div {
            }

        /***--------------------------------------------------------------------------------------\
          Y-axis Settings
        \--------------------------------------------------------------------------------------***/

            .component--left {
                float: left;
            }
            .component--left h3 {
                text-align: left;
            }
            .component--left div {
            }

        /***--------------------------------------------------------------------------------------\
          Chart
        \--------------------------------------------------------------------------------------***/

            #chart {
                width: 29%;
                padding: 10px 2%;
            }
            #chart .legend {
            }

        /***--------------------------------------------------------------------------------------\
          Mark Settings
        \--------------------------------------------------------------------------------------***/

            .component--right {
                float: right;
            }
            .component--right h3 {
                text-align: left;
            }
            .component--right div {
            }

        /***--------------------------------------------------------------------------------------\
          X-axis Settings
        \--------------------------------------------------------------------------------------***/

            .component--bottom {
                width: 100%;
                margin-left: var(--component-width);
            }
            .component--bottom h3 {
            }
            .component--bottom div {
            }

/*------------------------------------------------------------------------------------------------\
  Right column
\------------------------------------------------------------------------------------------------*/

    .column--right {
        float: right;
        width: 24%;
    }

    /**-------------------------------------------------------------------------------------------\
      Settings
    \-------------------------------------------------------------------------------------------**/

        .text-area {
            width: 100%;
            font-family: courier;
        }
        .callback-label {
            float: right;
        }
        .callback-input {
            height: 100px;
        }
